<!-- moneyCardModalOverlay -- 独立组件模板 -->
<div class="moneycard-modal-overlay" id="moneyCardModalOverlay">
        <div class="moneycard-modal">
            <div class="moneycard-modal-header" id="moneyCardModalTitle">选择金额卡</div>
            <div class="moneycard-modal-body">
                <div class="moneycard-list" id="moneyCardList"></div>
            </div>
            <div class="moneycard-modal-footer">
                <button class="btn-modal secondary" id="moneyCardCancelBtn">取消</button>
                <button class="btn-modal primary" id="moneyCardConfirmBtn">确定</button>
            </div>
        </div>
    </div>