<!-- upgradeNewCardBenefitModalOverlay -- 独立组件模板 -->
<div class="upgrade-newcard-modal-overlay" id="upgradeNewCardBenefitModalOverlay">
        <div class="upgrade-newcard-modal upgrade-benefit-modal">
            <div class="upgrade-newcard-modal-header">
                <span class="upgrade-newcard-modal-title" id="upgradeNewCardBenefitModalTitle">卡片权益</span>
                <div class="upgrade-newcard-modal-close" id="upgradeNewCardBenefitModalClose">×</div>
            </div>
            <div class="upgrade-newcard-modal-body">
                <div id="upgradeNewCardBenefitModalBody"></div>
            </div>
            <div class="upgrade-newcard-modal-footer">
                <button type="button" class="upgrade-newcard-btn confirm" id="upgradeNewCardBenefitModalOk">我知道了</button>
            </div>
        </div>
    </div>